* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: beige;
    font-family: sans-serif;
    min-height: 100vh;
}


header {
    background-color: #dc0000;
    border-bottom: 8px solid #ffff00;
    display: flex;
    color: #ffff00;
    flex-direction: row;
    flex-wrap: wrap;
    filter:opacity(75%);
    max-width: 1400px;
    padding: 32px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

label {
    font-size: 17px;
    margin-bottom: 10px;
}

input, textarea {
    background-color: lightgray;
    border: 0px;
    border-radius: 10px;
    border-bottom: 2px solid #ffff00;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 17px  14px;
}

:focus {
    outline:  1px solid #ffff00;
}



.boton-enviar {
    align-self: flex-end;
    background-color: #dc0000;
    cursor: pointer;
    width: 150px;
}

.boton-enviar:hover {
    background-color: crimson;
}

.contenedor-formulario {
    align-items: center;
    background: url(img/redes\ gas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: opacity(80%);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.contenedor-formulario h2 {
    font-size: 40px;
    margin-bottom: 25px;
}

.logo{
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 20px auto;
    height: auto;
    max-width: 100vw;
    vertical-align: middle;
}

@media (min-width: 0px) and (max-width: 940px){
  .body {
    padding: 30px;    
  }

  .contenedor-formulario, form {
    width: 100%;
  }
}